---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="About me">
  <article class="px-5 py-10 max-w-2xl mx-auto w-full font-mono">
    <h1 class="font-h1-sp lg:font-h1-pc">About me</h1>
    <p>Hey there! I'm Sakata, a software engineer based in Tokyo, Japan.</p>
    <p>
      I'm all about web development, especially on the backend. You'll usually find me using
      TypeScript (Node.js), Python (FastAPI), and Rust (Rocket) to build APIs. I'm a big fan of the
      KISS principle, so I like to keep things simple and effective. On the frontend side, I've
      dabbled in React, Svelte, and Astro.
    </p>
    <h2 class="font-h2-sp lg:font-h2-pc">About me</h2>
  </article>
</BaseLayout>
