---
import BaseLayout from "~/layouts/BaseLayout.astro";
import CheckIcon from "~/assets/icons/CheckIcon.astro";
---

<BaseLayout title="About me">
  <article class="px-5 py-10 max-w-2xl mx-auto w-full font-mono">
    <h1 class="font-h1-sp lg:font-h1-pc">🐶 About me</h1>
    <p>Hey there! I'm Sakata, a software engineer based in Tokyo, Japan.</p>
    <p>
      I'm all about web development, especially on the backend. You'll usually find me using
      TypeScript (Node.js), Python (FastAPI), and Rust (Rocket) to build APIs. I'm a big fan of the
      KISS principle, so I like to keep things simple and effective. On the frontend side, I've
      dabbled in React, Svelte, and Astro.
    </p>
    <h2 class="font-h2-sp lg:font-h2-pc">Skills</h2>
    <h3 class="font-h3-sp lg:font-h3-pc">Backend</h3>
    <ul class="list-disc list-inside">
      <li>TypeScript(Node.js, Nest.js)</li>
      <li>Python(FastAPI, Django)</li>
      <li>Java(Spring)</li>
      <li>Rust(Rocket)</li>
      <li>RDB(MySQL, PostgreSQL)</li>
      <li>NoSQL(MongoDB)</li>
      <li>KVS(Redis)</li>
    </ul>
    <h3 class="font-h3-sp lg:font-h3-pc">Frontend</h3>
    <ul class="list-disc list-inside">
      <li>HTML/CSS</li>
      <li>JavaScript/TypeScript</li>
      <li>React, Svelte, Astro</li>
    </ul>
    <h3 class="font-h3-sp lg:font-h3-pc">Infrastructure</h3>
    <ul class="list-disc list-inside">
      <li>Docker</li>
      <li>AWS</li>
      <li>Vercel</li>
    </ul>
    <h3 class="font-h3-sp lg:font-h3-pc">Misc</h3>
    <ul class="list-disc list-inside">
      <li>Figma, XD</li>
      <li>Git, GitHub, Github Actions</li>
      <li>Windows, MacOS, Linux</li>
    </ul>
    <h2 class="font-h2-sp lg:font-h2-pc">Background</h2>
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
      <li>
        <div class="timeline-middle">
          <CheckIcon />
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic">2012</time>
          <div class="text-lg font-black">NIT Numazu College, Department of Computer Science</div>
          <p>
            I studied computer science at NIT, Numazu College. I learned about computer
            architecture, operating systems, and programming languages. The most important thing I
            learned was that I still didn't understand about computers.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <CheckIcon />
        </div>
        <div class="timeline-end mb-10">
          <time class="font-mono italic">2017</time>
          <div class="text-lg font-black">Shizuoka University, Graduate School of Informatics</div>
          <p>
            I transferred to Shizuoka University and majored in computer science. Fortunately, I was
            able to study under Professor Masafumi Nishimura, who was a top researche in the IBM. I
            learned about machine learning, natural language processing, and signal processing.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <CheckIcon />
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic">2018</time>
          <div class="text-lg font-black">AIST, Artificial Intelligence Research Center</div>
          <p>
            I joined the Artificial Intelligence Research Center at the National Institute of
            Advanced Industrial Science and Technology (AIST). I was involved in the development of
            a system that automatically detects human activities from audio data. I often used
            Python for data analysis and machine learning, and Vue.js for the frontend.
          </p>
        </div>
      </li>
    </ul>
  </article>
</BaseLayout>
