---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
  <div class="grow px-5 grid place-items-center">
    <div class="grid place-items-center">
      <h1 class="font-title-lg-sp lg:font-title-lg-pc">Page Not Found</h1>
      <p class="font-body-md lg:font-body-lg">お探しのページが見つかりませんでした</p>
      <button class="btn btn-primary mt-6">
        <a href="/">Back to Home</a>
      </button>
    </div>
  </div>
</BaseLayout>
