---
type Props = {
  href?: string;
  variant?: "primary" | "secondary" | "ghost";
};

const { href, variant = "primary" } = Astro.props;

const classes = {
  primary: "btn btn-primary font-title-xxs-sp",
  secondary: "btn btn-secondary",
  ghost: "btn btn-ghost",
};
---

<a href={href} class={classes[variant]}><slot /></a>
