---
import MenuButton from "./MenuButton.astro";
import Logo from "./Logo.astro";
---

<header class="navbar fixed bg-base-100 shadow-md shadow-base-200 z-50 gap-2">
  <MenuButton />
  <Logo />
</header>
<div class="navbar"></div>
