---
import LogoIcon from "~/assets/icons/LogoIcon.astro";
---

<button class="gap btn btn-ghost place-items-center">
  <a href="/" class="flex gap-1 h-12 items-center">
    <LogoIcon />
    <p class="font-title-xxs-sp">SakataSZ</p>
  </a>
</button>
